automation/n8n-license-check-workflow.json
{
  "name": "IR-CLU — بررسی لایسنس اپلیکیشن‌ها",
  "nodes": [
    {
      "id": "webhook-license",
      "name": "درخواست بررسی لایسنس",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-720, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "license-verify",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "sheets-read-licenses",
      "name": "خواندن لایسنس‌ها",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-480, 0],
      "parameters": {
        "operation": "read",
        "documentId": { "mode": "list", "value": "PLACEHOLDER_SPREADSHEET_ID" },
        "sheetName": { "mode": "name", "value": "Licenses" }
      },
      "credentials": { "googleSheetsOAuth2Api": { "id": "PLACEHOLDER", "name": "Google Sheets (IR-CLU Store)" } }
    },
    {
      "id": "code-check-license",
      "name": "اعتبارسنجی لایسنس",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-240, 0],
      "parameters": {
        "jsCode": "const body = $('درخواست بررسی لایسنس').first().json.body || {};\nconst licenseKey = String(body.license_key || \"\").trim();\nconst machineId = String(body.machine_id || \"\").trim();\n\nconst rows = $input.all().map((i) => i.json);\nconst license = rows.find((r) => r.license_key === licenseKey);\n\nif (!license) {\n  return [{ json: { valid: false, reason: \"not_found\" } }];\n}\nif (String(license.active).toLowerCase() !== \"true\") {\n  return [{ json: { valid: false, reason: \"deactivated\" } }];\n}\nconst now = Date.now();\nconst expiresAt = new Date(license.expires_at).getTime();\nif (!(expiresAt > now)) {\n  return [{ json: { valid: false, reason: \"expired\", expires_at: license.expires_at } }];\n}\nif (license.machine_id && machineId && license.machine_id !== machineId) {\n  return [{ json: { valid: false, reason: \"machine_mismatch\" } }];\n}\n\n// اولین باری که این لایسنس چک می‌شود، دستگاه را قفل می‌کند تا روی دستگاه دیگری قابل استفاده نباشد\nreturn [{\n  json: {\n    valid: true,\n    expires_at: license.expires_at,\n    needsBind: !license.machine_id && !!machineId,\n    licenseKey,\n    machineId,\n  },\n}];"
      }
    },
    {
      "id": "if-valid",
      "name": "لایسنس معتبر است؟",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [0, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "leftValue": "={{ $json.valid }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }],
          "combinator": "and"
        }
      }
    },
    {
      "id": "respond-invalid",
      "name": "پاسخ نامعتبر",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [240, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ valid: false, reason: $json.reason || 'invalid' }) }}"
      }
    },
    {
      "id": "if-needs-bind",
      "name": "نیاز به قفل شدن دستگاه دارد؟",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [240, -100],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "leftValue": "={{ $json.needsBind }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }],
          "combinator": "and"
        }
      }
    },
    {
      "id": "sheets-bind-machine",
      "name": "قفل کردن لایسنس به دستگاه",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [480, -200],
      "parameters": {
        "operation": "update",
        "documentId": { "mode": "list", "value": "PLACEHOLDER_SPREADSHEET_ID" },
        "sheetName": { "mode": "name", "value": "Licenses" },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": ["license_key"],
          "value": { "license_key": "={{ $json.licenseKey }}", "machine_id": "={{ $json.machineId }}" }
        }
      },
      "credentials": { "googleSheetsOAuth2Api": { "id": "PLACEHOLDER", "name": "Google Sheets (IR-CLU Store)" } }
    },
    {
      "id": "respond-valid",
      "name": "پاسخ معتبر",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [720, -100],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ valid: true, expires_at: $json.expires_at }) }}"
      }
    }
  ],
  "connections": {
    "درخواست بررسی لایسنس": { "main": [[{ "node": "خواندن لایسنس‌ها", "type": "main", "index": 0 }]] },
    "خواندن لایسنس‌ها": { "main": [[{ "node": "اعتبارسنجی لایسنس", "type": "main", "index": 0 }]] },
    "اعتبارسنجی لایسنس": { "main": [[{ "node": "لایسنس معتبر است؟", "type": "main", "index": 0 }]] },
    "لایسنس معتبر است؟": {
      "main": [
        [{ "node": "نیاز به قفل شدن دستگاه دارد؟", "type": "main", "index": 0 }],
        [{ "node": "پاسخ نامعتبر", "type": "main", "index": 0 }]
      ]
    },
    "نیاز به قفل شدن دستگاه دارد؟": {
      "main": [
        [{ "node": "قفل کردن لایسنس به دستگاه", "type": "main", "index": 0 }],
        [{ "node": "پاسخ معتبر", "type": "main", "index": 0 }]
      ]
    },
    "قفل کردن لایسنس به دستگاه": { "main": [[{ "node": "پاسخ معتبر", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
