automation/n8n-products-sync-workflow.json
{
  "name": "IR-CLU — همگام‌سازی فروشگاه با سایت",
  "nodes": [
    {
      "id": "trigger-sync",
      "name": "هر ۳۰ دقیقه",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-720, 0],
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 30 }]
        }
      }
    },
    {
      "id": "sheets-read-products-sync",
      "name": "خواندن محصولات از شیت",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-480, 0],
      "parameters": {
        "operation": "read",
        "documentId": { "mode": "list", "value": "PLACEHOLDER_SPREADSHEET_ID" },
        "sheetName": { "mode": "name", "value": "Products" }
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "PLACEHOLDER", "name": "Google Sheets (IR-CLU Store)" }
      }
    },
    {
      "id": "code-build-json",
      "name": "ساخت products.json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-240, 0],
      "parameters": {
        "jsCode": "const rows = $input.all().map((i) => i.json);\n\nconst products = rows.map((r) => ({\n  slug: r.slug,\n  type: r.type,\n  title: r.title,\n  description: r.description,\n  highlights: String(r.highlights || '').split('|').map((s) => s.trim()).filter(Boolean),\n  image: r.image,\n  price: Number(r.price),\n  billing: r.billing || 'monthly',\n  active: String(r.active).toLowerCase() === 'true',\n}));\n\nconst json = JSON.stringify(products, null, 2) + '\\n';\n\nreturn [{ json: { fileContent: json, count: products.length } }];"
      }
    },
    {
      "id": "github-get-current",
      "name": "خواندن نسخه فعلی از گیت‌هاب",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "manbom",
        "repository": "IR-CLU",
        "filePath": "content/products/products.json",
        "asBinaryProperty": false
      },
      "credentials": {
        "githubApi": { "id": "PLACEHOLDER", "name": "GitHub account (manbom)" }
      }
    },
    {
      "id": "if-changed",
      "name": "چیزی تغییر کرده؟",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [240, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ Buffer.from($json.content, 'base64').toString('utf8').trim() }}",
              "rightValue": "={{ $('ساخت products.json').first().json.fileContent.trim() }}",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "github-commit-products",
      "name": "کامیت products.json در گیت‌هاب",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [480, 0],
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "manbom",
        "repository": "IR-CLU",
        "filePath": "content/products/products.json",
        "fileContent": "={{ $('ساخت products.json').first().json.fileContent }}",
        "commitMessage": "Sync products from Google Sheet (auto)",
        "branch": "main"
      },
      "credentials": {
        "githubApi": { "id": "PLACEHOLDER", "name": "GitHub account (manbom)" }
      }
    }
  ],
  "connections": {
    "هر ۳۰ دقیقه": {
      "main": [[{ "node": "خواندن محصولات از شیت", "type": "main", "index": 0 }]]
    },
    "خواندن محصولات از شیت": {
      "main": [[{ "node": "ساخت products.json", "type": "main", "index": 0 }]]
    },
    "ساخت products.json": {
      "main": [[{ "node": "خواندن نسخه فعلی از گیت‌هاب", "type": "main", "index": 0 }]]
    },
    "خواندن نسخه فعلی از گیت‌هاب": {
      "main": [[{ "node": "چیزی تغییر کرده؟", "type": "main", "index": 0 }]]
    },
    "چیزی تغییر کرده؟": {
      "main": [[{ "node": "کامیت products.json در گیت‌هاب", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
