automation/n8n-blog-workflow.json
{
  "name": "IR-CLU — تولید و انتشار خودکار مقاله",
  "nodes": [
    {
      "id": "trigger-1",
      "name": "هر روز ساعت ۸ صبح",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-720, 0],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 8 * * *" }
          ]
        }
      }
    },
    {
      "id": "code-topic",
      "name": "انتخاب موضوع",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-480, 0],
      "parameters": {
        "jsCode": "// تقویم محتوایی ۳۰ روزه — بر اساس تحقیق کلمات کلیدی بازار ایران (تیر ۱۴۰۵)\nconst topics = [\n  \"اتوماسیون کسب‌وکار چیست و چرا در ۱۴۰۵ ضروری شده\",\n  \"هزینه اتوماسیون کسب‌وکار در ایران: چه عواملی قیمت را تعیین می‌کنند\",\n  \"قیمت ساخت ربات تلگرام حرفه‌ای در ۱۴۰۵ چقدر است\",\n  \"تفاوت ربات تلگرام ارزان و ربات تلگرام حرفه‌ای متصل به دیتابیس\",\n  \"ربات بله برای کسب‌وکار: چه زمانی به‌جای تلگرام باید از بله استفاده کنیم\",\n  \"مقایسه ربات تلگرام و ربات بله: کدام برای کسب‌وکار شما مناسب‌تر است\",\n  \"n8n چیست و چرا جایگزین بهتری برای Zapier در ایران است\",\n  \"آموزش مفهومی n8n برای صاحبان کسب‌وکار، نه برنامه‌نویس‌ها\",\n  \"چطور ربات تلگرام فروش را به دیتابیس یا اکسل واقعی کسب‌وکار وصل کنیم\",\n  \"ربات تلگرام برای فروشگاه اینترنتی: پیگیری سفارش بدون تماس تلفنی\",\n  \"ربات هوشمند برای بنگاه‌های املاک: چطور آگهی‌های باارزش را خودکار پیدا کنیم\",\n  \"اتوماسیون فروش برای کارخانه‌ها و تولیدی‌ها: یک نمونه واقعی از صنعت فولاد\",\n  \"ایجنت هوش مصنوعی برای تولید محتوای شبکه‌های اجتماعی: از ایده تا انتشار\",\n  \"اتوماسیون پاسخ‌گویی ۲۴ ساعته به مشتری بدون استخدام نیروی جدید\",\n  \"چک‌لیست: کدام فرآیند کسب‌وکار شما باید اول اتوماتیک شود\",\n  \"اتوماسیون کسب‌وکار کوچک در برابر اتوماسیون سازمانی: تفاوت رویکرد و هزینه\",\n  \"ربات تلگرام برای پشتیبانی مشتری: از ساعت‌ها انتظار تا پاسخ در چند ثانیه\",\n  \"چطور با هوش مصنوعی محتوای تکراری (نامه، پاسخ، خلاصه) را خودکار کنیم\",\n  \"استخراج خودکار اطلاعات از اسناد و تصاویر با هوش مصنوعی (OCR) برای کسب‌وکار ایرانی\",\n  \"چطور یک ایجنت هوش مصنوعی می‌تواند قیمت رقبا را هر روز رصد کند\",\n  \"راهنمای شروع اتوماسیون برای کسب‌وکارهای خانوادگی و فروشگاه‌های کوچک\",\n  \"اتوماسیون یادآوری پرداخت و کاهش مطالبات معوق با ربات تلگرام\",\n  \"چطور ربات تلگرام امنیت داده‌های مشتریان را حفظ می‌کند\",\n  \"زمان‌بندی واقعی: ساخت یک ربات تلگرام حرفه‌ای چقدر طول می‌کشد\",\n  \"۷ اشتباه رایج کسب‌وکارها هنگام سفارش ساخت ربات تلگرام\",\n  \"اتوماسیون هماهنگی جلسات و وقت‌دهی بدون رفت‌وبرگشت پیام\",\n  \"چطور کسب‌وکار کوچک هم می‌تواند مثل شرکت‌های بزرگ در اتوماسیون صرفه‌جویی کند\",\n  \"سوالات متداول درباره اتوماسیون با هوش مصنوعی برای کسب‌وکار ایرانی\",\n  \"جمع‌بندی یک ماه: کدام نوع اتوماسیون بیشترین بازگشت سرمایه را برای کسب‌وکار کوچک دارد\",\n  \"چطور با n8n چند سرویس پراکنده (ایمیل، تلگرام، اکسل) را یک‌جا مدیریت کنیم\"\n];\n\n// به‌جای انتخاب تصادفی، هر روز دقیقاً موضوع بعدیِ تقویم را برمی‌دارد\nconst staticData = $getWorkflowStaticData('global');\nif (typeof staticData.dayIndex !== 'number') staticData.dayIndex = 0;\n\nconst topic = topics[staticData.dayIndex % topics.length];\nstaticData.dayIndex += 1;\n\nreturn [{ json: { topic } }];"
      }
    },
    {
      "id": "http-openai",
      "name": "تولید مقاله با OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-240, 0],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "content-type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"gpt-4o-mini\",\n  response_format: { type: \"json_object\" },\n  messages: [\n    { role: \"system\", content: \"تو نویسنده‌ی بلاگ استودیوی اتوماسیون IR-CLU هستی. یک مقاله فارسی، واقعی و غیرکلیشه‌ای درباره موضوع داده‌شده بنویس؛ حدود ۶۰۰ تا ۸۰۰ کلمه، با حداقل دو تیتر H2 (##)، یک مثال ملموس، و یک جمله پایانی که خواننده را به گفت‌وگو درباره پروژه‌اش دعوت کند. لحن: مستقیم، مثل توضیح‌دادن به یک صاحب کسب‌وکار غیرفنی، بدون جمله‌های تکراری تبلیغاتی. خروجی را فقط و فقط به‌صورت یک JSON معتبر با همین ساختار بده و هیچ متن دیگری قبل یا بعدش ننویس: {\\\"title\\\": string, \\\"description\\\": string (زیر ۱۶۰ کاراکتر، برای متا توضیحات سئو), \\\"slug\\\": string (فقط حروف لاتین کوچک و خط‌تیره، بدون فاصله، برگرفته از موضوع اصلی مقاله به انگلیسی), \\\"tags\\\": string[] (۲ تا ۳ تگ فارسی), \\\"body_markdown\\\": string (متن کامل مقاله به‌صورت مارک‌داون، بدون تیتر اصلی H1 چون تیتر جدا نمایش داده می‌شود)}\" },\n    { role: \"user\", content: $json.topic }\n  ]\n}) }}"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER",
          "name": "OpenAI API Key (Authorization: Bearer)"
        }
      }
    },
    {
      "id": "code-format",
      "name": "ساخت فایل مارک‌داون",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "jsCode": "const raw = $input.first().json.choices[0].message.content;\nconst article = JSON.parse(raw);\n\nconst today = new Date().toISOString().slice(0, 10);\nconst uniqueSlug = `${article.slug}-${today}`;\nconst tagsYaml = article.tags.map((t) => `\"${t}\"`).join(\", \");\n\nconst frontmatter = `---\\ntitle: \"${article.title.replace(/\"/g, '\\\\\"')}\"\\ndescription: \"${article.description.replace(/\"/g, '\\\\\"')}\"\\ndate: \"${today}\"\\ntags: [${tagsYaml}]\\n---\\n\\n`;\n\nreturn [{\n  json: {\n    slug: uniqueSlug,\n    title: article.title,\n    path: `content/blog/${uniqueSlug}.md`,\n    message: `Add article: ${article.title} (auto-generated)`,\n    fileContent: frontmatter + article.body_markdown,\n  },\n}];"
      }
    },
    {
      "id": "github-commit",
      "name": "کامیت مقاله در گیت‌هاب",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [240, 0],
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": "manbom",
        "repository": "IR-CLU",
        "filePath": "={{ $json.path }}",
        "fileContent": "={{ $json.fileContent }}",
        "commitMessage": "={{ $json.message }}",
        "branch": "main"
      },
      "credentials": {
        "githubApi": {
          "id": "PLACEHOLDER",
          "name": "GitHub account (manbom)"
        }
      }
    },
    {
      "id": "telegram-notify",
      "name": "اطلاع در تلگرام",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [480, 0],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "PLACEHOLDER_CHAT_ID",
        "text": "=📝 مقاله جدید منتشر شد:\n{{ $('ساخت فایل مارک‌داون').item.json.title }}\n\nبعد از build خودکار گیت‌هاب (حدود ۲-۳ دقیقه)، این‌جا در دسترس است:\nhttps://irclu.com/blog/{{ $('ساخت فایل مارک‌داون').item.json.slug }}/"
      },
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "هر دوشنبه ساعت ۸ صبح": {
      "main": [[{ "node": "انتخاب موضوع", "type": "main", "index": 0 }]]
    },
    "انتخاب موضوع": {
      "main": [[{ "node": "تولید مقاله با OpenAI", "type": "main", "index": 0 }]]
    },
    "تولید مقاله با OpenAI": {
      "main": [[{ "node": "ساخت فایل مارک‌داون", "type": "main", "index": 0 }]]
    },
    "ساخت فایل مارک‌داون": {
      "main": [[{ "node": "کامیت مقاله در گیت‌هاب", "type": "main", "index": 0 }]]
    },
    "کامیت مقاله در گیت‌هاب": {
      "main": [[{ "node": "اطلاع در تلگرام", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
