automation/n8n-blog-workflow.json
{
  "name": "IR-CLU — تولید و انتشار خودکار مقاله",
  "nodes": [
    {
      "id": "trigger-1",
      "name": "هر دوشنبه ساعت ۸ صبح",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-720, 0],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 8 * * 1" }
          ]
        }
      }
    },
    {
      "id": "code-topic",
      "name": "انتخاب موضوع",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-480, 0],
      "parameters": {
        "jsCode": "const topics = [\n  \"چطور با n8n یک ورک‌فلوی پاسخ‌گویی خودکار به مشتری بسازیم\",\n  \"تفاوت ربات تلگرام ساده و ربات متصل به دیتابیس واقعی کسب‌وکار\",\n  \"چک‌لیست انتخاب اولین فرآیندی که باید در کسب‌وکار اتوماتیک شود\",\n  \"اتوماسیون قیمت‌گذاری لحظه‌ای برای فروشگاه‌ها و کارخانه‌ها\",\n  \"چطور یک ایجنت هوش مصنوعی می‌تواند محتوای شبکه‌های اجتماعی یک حوزه را رصد کند\",\n  \"چه زمانی اتوماسیون به‌صرفه نیست و بهتر است هنوز دستی انجام شود\",\n  \"چطور ربات تلگرام را به دیتابیس یا اکسل واقعی کسب‌وکار وصل کنیم\"\n];\nconst idx = Math.floor(Math.random() * topics.length);\nreturn [{ json: { topic: topics[idx] } }];"
      }
    },
    {
      "id": "http-claude",
      "name": "تولید مقاله با Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-240, 0],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"claude-sonnet-5\",\n  max_tokens: 4000,\n  system: \"تو نویسنده‌ی بلاگ استودیوی اتوماسیون IR-CLU هستی. یک مقاله فارسی، واقعی و غیرکلیشه‌ای درباره موضوع داده‌شده بنویس؛ حدود ۶۰۰ تا ۸۰۰ کلمه، با حداقل دو تیتر H2 (##)، یک مثال ملموس، و یک جمله پایانی که خواننده را به گفت‌وگو درباره پروژه‌اش دعوت کند. لحن: مستقیم، مثل توضیح‌دادن به یک صاحب کسب‌وکار غیرفنی، بدون جمله‌های تکراری تبلیغاتی. خروجی را فقط و فقط به‌صورت یک JSON معتبر با همین ساختار بده و هیچ متن دیگری قبل یا بعدش ننویس: {\\\"title\\\": string, \\\"description\\\": string (زیر ۱۶۰ کاراکتر، برای متا توضیحات سئو), \\\"slug\\\": string (فقط حروف لاتین کوچک و خط‌تیره، بدون فاصله، برگرفته از موضوع اصلی مقاله به انگلیسی), \\\"tags\\\": string[] (۲ تا ۳ تگ فارسی), \\\"body_markdown\\\": string (متن کامل مقاله به‌صورت مارک‌داون، بدون تیتر اصلی H1 چون تیتر جدا نمایش داده می‌شود)}\",\n  messages: [{ role: \"user\", content: $json.topic }]\n}) }}"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER",
          "name": "Anthropic API Key (x-api-key)"
        }
      }
    },
    {
      "id": "code-format",
      "name": "ساخت فایل مارک‌داون",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "jsCode": "const raw = $input.first().json.content[0].text;\nconst article = JSON.parse(raw);\n\nconst today = new Date().toISOString().slice(0, 10);\nconst tagsYaml = article.tags.map((t) => `\"${t}\"`).join(\", \");\n\nconst frontmatter = `---\\ntitle: \"${article.title.replace(/\"/g, '\\\\\"')}\"\\ndescription: \"${article.description.replace(/\"/g, '\\\\\"')}\"\\ndate: \"${today}\"\\ntags: [${tagsYaml}]\\n---\\n\\n`;\n\nreturn [{\n  json: {\n    slug: article.slug,\n    title: article.title,\n    path: `content/blog/${article.slug}.md`,\n    message: `Add article: ${article.title} (auto-generated)`,\n    fileContent: frontmatter + article.body_markdown,\n  },\n}];"
      }
    },
    {
      "id": "github-commit",
      "name": "کامیت مقاله در گیت‌هاب",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [240, 0],
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": "manbom",
        "repository": "IR-CLU",
        "filePath": "={{ $json.path }}",
        "fileContent": "={{ $json.fileContent }}",
        "commitMessage": "={{ $json.message }}",
        "branch": "main"
      },
      "credentials": {
        "githubApi": {
          "id": "PLACEHOLDER",
          "name": "GitHub account (manbom)"
        }
      }
    },
    {
      "id": "telegram-notify",
      "name": "اطلاع در تلگرام",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [480, 0],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "PLACEHOLDER_CHAT_ID",
        "text": "=📝 مقاله جدید منتشر شد:\n{{ $('ساخت فایل مارک‌داون').item.json.title }}\n\nبعد از build خودکار گیت‌هاب (حدود ۲-۳ دقیقه)، این‌جا در دسترس است:\nhttps://irclu.com/blog/{{ $('ساخت فایل مارک‌داون').item.json.slug }}/"
      },
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "هر دوشنبه ساعت ۸ صبح": {
      "main": [[{ "node": "انتخاب موضوع", "type": "main", "index": 0 }]]
    },
    "انتخاب موضوع": {
      "main": [[{ "node": "تولید مقاله با Claude", "type": "main", "index": 0 }]]
    },
    "تولید مقاله با Claude": {
      "main": [[{ "node": "ساخت فایل مارک‌داون", "type": "main", "index": 0 }]]
    },
    "ساخت فایل مارک‌داون": {
      "main": [[{ "node": "کامیت مقاله در گیت‌هاب", "type": "main", "index": 0 }]]
    },
    "کامیت مقاله در گیت‌هاب": {
      "main": [[{ "node": "اطلاع در تلگرام", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
